@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

.media-scroller {
    --spacer: 1rem;
    display: grid;
    gap: var(--spacer);
    grid-auto-flow: column;
    grid-auto-columns: 28%;
    padding: 0 var(--spacer) var(--spacer);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.media-scroller--with-groups {
    grid-auto-columns: 100%;
}

.media-group {
    display: grid;
    gap: var(--spacer);
    grid-auto-flow: column;
}

.media-element {
    display: grid;
    grid-template-rows: min-content;
    gap: var(--spacer);
    padding: var(--spacer);
    background: var(--surface-2);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
}

.media-element > img {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--spacer, 1rem);
}

.snaps-inline > * {
    scroll-snap-align: start;
}

.container {
    inline-size: min(100% - 4rem, 70rem);
    margin-inline: auto;
}

.flow {
    display: grid;
    gap: var(--spacer);
}